In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Activity recognition exp/Phones_accelerometer.csv')
df2 = pd.read_csv('Activity recognition exp/Phones_gyroscope.csv')
df3 = pd.read_csv('Activity recognition exp/Watch_accelerometer.csv')
df4 = pd.read_csv('Activity recognition exp/Watch_gyroscope.csv')

In [3]:
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [4]:
df2.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633909,1424696631914042029,0.013748,-0.000626,-0.023376,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631919046912,0.014816,-0.001694,-0.022308,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631924051794,0.015884,-0.001694,-0.021240,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631929117712,0.016953,-0.003830,-0.020172,a,nexus4,nexus4_1,stand
4,4,1424696633928,1424696631934214148,0.015884,-0.007034,-0.020172,a,nexus4,nexus4_1,stand

In [5]:
df3.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [6]:
df4.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638743,27920678496000,-0.162187,-0.022104,0.059655,a,gear,gear_1,stand
1,1,1424696638743,27920681926000,-0.183225,-0.061785,0.012517,a,gear,gear_1,stand
2,2,1424696638743,27920692031000,-0.180829,-0.108657,-0.036485,a,gear,gear_1,stand
3,3,1424696638743,27920701997000,-0.147805,-0.157925,-0.098537,a,gear,gear_1,stand
4,7,1424696638744,27920743068000,0.182160,-0.323574,-0.277235,a,gear,gear_1,stand

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13062475 entries, 0 to 13062474
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Index          int64
 1   Arrival_Time   int64
 2   Creation_Time  int64
 3   x              float64
 4   y              float64
 5   z              float64
 6   User           object
 7   Model          object
 8   Device         object
 9   gt             object
dtypes: float64(3), int64(3), object(4)
memory usage: 996.6+ MB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13932632 entries, 0 to 13932631
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Index          int64
 1   Arrival_Time   int64
 2   Creation_Time  int64
 3   x              float64
 4   y              float64
 5   z              float64
 6   User           object
 7   Model          object
 8   Device         object
 9   gt             object
dtypes: float64(3), int64(3), object(4)
memory usage: 1.0+ GB

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3540962 entries, 0 to 3540961
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Index          int64
 1   Arrival_Time   int64
 2   Creation_Time  int64
 3   x              float64
 4   y              float64
 5   z              float64
 6   User           object
 7   Model          object
 8   Device         object
 9   gt             object
dtypes: float64(3), int64(3), object(4)
memory usage: 270.2+ MB

In [10]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3205431 entries, 0 to 3205430
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Index          int64
 1   Arrival_Time   int64
 2   Creation_Time  int64
 3   x              float64
 4   y              float64
 5   z              float64
 6   User           object
 7   Model          object
 8   Device         object
 9   gt             object
dtypes: float64(3), int64(3), object(4)
memory usage: 244.6+ MB

In [11]:
df.isnull().sum()

Index                  0
Arrival_Time           0
Creation_Time          0
x                      0
y                      0
z                      0
User                   0
Model                  0
Device                 0
gt               1783200
dtype: int64

In [12]:
df2.isnull().sum()

Index                  0
Arrival_Time           0
Creation_Time          0
x                      0
y                      0
z                      0
User                   0
Model                  0
Device                 0
gt               1869627
dtype: int64

In [13]:
df3.isnull().sum()

Index                 0
Arrival_Time          0
Creation_Time         0
x                     0
y                     0
z                     0
User                  0
Model                 0
Device                0
gt               520357
dtype: int64

In [14]:
df4.isnull().sum()

Index                 0
Arrival_Time          0
Creation_Time         0
x                     0
y                     0
z                     0
User                  0
Model                 0
Device                0
gt               470429
dtype: int64

In [15]:
df_droprow = df.dropna()
df_droprow.isnull().sum()

Index            0
Arrival_Time     0
Creation_Time    0
x                0
y                0
z                0
User             0
Model            0
Device           0
gt               0
dtype: int64

In [16]:
df_filling = df.fillna(method = 'bfill', axis = 0).fillna(0)
df_filling.isnull().sum()

Index            0
Arrival_Time     0
Creation_Time    0
x                0
y                0
z                0
User             0
Model            0
Device           0
gt               0
dtype: int64

In [17]:
gt = df.groupby(['gt']).size()
gt

gt
bike          1845557
sit           1991919
stairsdown    1615896
stairsup      1782010
stand         1851492
walk          2192401
dtype: int64

In [18]:
for dato in df['gt'].head(5):
    if dato == 'stand':
        dato = 'null'
df.isnull().sum()

Index                  0
Arrival_Time           0
Creation_Time          0
x                      0
y                      0
z                      0
User                   0
Model                  0
Device                 0
gt               1783200
dtype: int64

In [19]:
gt = df.groupby(['gt']).size()
gt

gt
bike          1845557
sit           1991919
stairsdown    1615896
stairsup      1782010
stand         1851492
walk          2192401
dtype: int64

In [20]:
df['gt'].fillna('walk', inplace=True)
df['gt']

0           stand
1           stand
2           stand
3           stand
4           stand
            ...
13062470     bike
13062471     bike
13062472     bike
13062473     bike
13062474     bike
Name: gt, Length: 13062475, dtype: object

In [22]:
df.isnull().sum()

Index            0
Arrival_Time     0
Creation_Time    0
x                0
y                0
z                0
User             0
Model            0
Device           0
gt               0
dtype: int64