In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [2]:
df = pd.read_csv('../P1/iris.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
especie_1 = df[df["species"] == "setosa"]["sepal_length"].to_list()
especie_2 = df[df["species"] == "versicolor"]["sepal_length"].to_list()
especie_3 = df[df["species"] == "virginica"]["sepal_length"].to_list()

In [5]:
f_oneway(especie_1, especie_2, especie_3)

F_onewayResult(statistic=119.26450218450468, pvalue=1.6696691907693826e-31)

In [6]:
df = pd.read_csv('Diet_R.csv')

In [7]:
df.head()

   Person  gender  Age  Height  pre.weight  Diet  weight6weeks
0       1       0   22     159          58     1          54.2
1       2       0   46     192          60     1          54.0
2       3       0   55     170          64     1          63.3
3       4       0   33     171          64     1          61.1
4       5       0   50     170          65     1          62.2

In [8]:
df['BMI_start'] = df["pre.weight"] / (df["Height"] / 100)**2
df["BMI_end"] = df["weight6weeks"] / (df["Height"] / 100)**2
df["BMI_change"] = df['BMI_start'] - df["BMI_end"]
df.head()

,Person,gender,Age,Height,pre.weight,Diet,weight6weeks,BMI_start,BMI_end,BMI_change
0,1,0,22,159,58,1,54.2,22.942130,21.439025,1.503105
1,2,0,46,192,60,1,54.0,16.276042,14.648438,1.627604
2,3,0,55,170,64,1,63.3,22.145329,21.903114,0.242215
3,4,0,33,171,64,1,61.1,21.887076,20.895318,0.991758
4,5,0,50,170,65,1,62.2,22.491349,21.522491,0.968858

In [9]:
dieta_1 = df[df["Diet"] == 1]["BMI_change"].to_list()
dieta_2 = df[df["Diet"] == 2]["BMI_change"].to_list()
dieta_3 = df[df["Diet"] == 3]["BMI_change"].to_list()

In [10]:
f_oneway(dieta_1, dieta_2, dieta_3)

F_onewayResult(statistic=11.491246302710522, pvalue=3.728315951810503e-05)