In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import QuantileRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.feature_selection import r_regression

In [2]:
eng_in = pd.read_csv("engineInputs.csv")
eng_in.head()

    In1    In2
0  17.5  576.2
1  35.9  598.6
2  31.4  612.1
3  23.7  624.2
4  20.2  635.2

In [3]:
eng_tar = pd.read_csv("engineTargets.csv")
eng_tar.head()

     T1   T2
0  57.6  848
1  24.8  905
2  22.3  578
3  15.6  382
4  16.5  298

In [4]:
eng_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   In1     1199 non-null   float64
 1   In2     1199 non-null   float64
dtypes: float64(2)
memory usage: 18.9 KB

In [5]:
eng_in.isna().sum()

In1    0
In2    0
dtype: int64

In [6]:
eng_tar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T1      1199 non-null   float64
 1   T2      1199 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 18.9 KB

In [7]:
eng_tar.isna().sum()

T1    0
T2    0
dtype: int64

In [8]:
engine = pd.concat([eng_in.reset_index(drop=True),eng_tar.reset_index(drop=True)],axis=1)
engine.head()

    In1    In2    T1   T2
0  17.5  576.2  57.6  848
1  35.9  598.6  24.8  905
2  31.4  612.1  22.3  578
3  23.7  624.2  15.6  382
4  20.2  635.2  16.5  298

In [9]:
X = engine.drop(['T1', 'T2'], axis=1).values
y1 = ((engine['T1']).values).reshape(-1, 1)
y2 = ((engine['T2']).values).reshape(-1, 1)

scaler = StandardScaler()
y1 = scaler.fit_transform(y1)
y2 = scaler.fit_transform(y2)

In [10]:
modelos = [('QR',QuantileRegressor()),
           ('Decision Tree',DecisionTreeRegressor()),
           ('KNN',KNeighborsRegressor())]

In [11]:
#Hold-Out (60/40)
X_train, X_test, y_train, y_test = train_test_split(X, y2, test_size=0.40)

for nombre,modelo in modelos:
    modelo.fit(X_train,y_train)
    y_pred = modelo.predict(X_test)
    print(r_regression(y_test,y_pred))

C:\Users\nitus\anaconda3\envs\py39_pandas\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\nitus\anaconda3\envs\py39_pandas\lib\site-packages\sklearn\linear_model\_quantile.py:186: FutureWarning: The default solver will change from 'interior-point' to 'highs' in version 1.4. Set `solver='highs'` or to the desired solver to silence this warning.
  warnings.warn(

[0.72389269]
[0.99360922]
[0.99747013]

C:\Users\nitus\anaconda3\envs\py39_pandas\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
X = [1,2,3,4,5]
y = [1,2,3,4,5]
y2 = [6,7,8,9,0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=42)
print(X_test, y_test)
X_train, X_test, y_train, y_test = train_test_split(X, y2, test_size=0.40, random_state=42)
print(X_test, y_test)

[2, 5] [2, 5]
[2, 5] [7, 0]